<h1><%= @header %></h1>
<%= error_messages_for @word %>

<% form_for(@word, :action => url(:word, @word)) do %>
  <%= text_control :name, :label => 'English Word' %><br />
  <%= text_control :to_word, :label => 'SpeedWord' %><br />
  <%= text_area_control :description, :label => 'Description' %><br />
  <%= submit_button 'Save' %>
<% end %>

<% unless @word.name.nil? %>
  <% form_tag(:action => url(:controller => "words", :action => "delete")) do %>
    <%= hidden_field :name => 'word', :value => @word.id %>
    <%= submit_button 'Delete Word' %>
  <% end %>
<% end %>
