<h1>List of Words</h1>
<table>
  <thead>
    <tr>
      <th>English</th>
      <th>Speedword</th>
      <th>Rock</th>
    </tr>
    <thead>
      <tbody>
        <%= merb_paginate @words %>
          <% @words.each do |word| %>
            <tr>
              <td><%= word.name %></td>
              <td><%= word.to_word %></td>
              <td><%= link_to 'show', url(:word, word)%>, <%= link_to 'edit', url(:edit_word, word) %>, <%= link_to 'delete', url(:delete_word, word) %></td>
            </tr>
          <% end %>
      </tbody>
    </table>
    <%= page_entries_info @words %>
